@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: "CabinetGrotesk-Regular";
	src: url("./assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.bg-header {
	background: url('./assets/images/header-bg.png');
}
.section-1 {
	background: url('./assets/images/section-1-bg.png');
}
.section-2 {
	background: url('./assets/images/section-2.png');
}
